/* Footer Area css
============================================================================================ */
.footer_area{
	background: $primary-color2;
	.contact_form{
		max-width: 300px;
		margin: auto;
		form{
			text-align: left;
			input{
				border-radius: 20px;
				border: none;
				background-color: rgba(255, 255, 255, 0.685);
				margin-bottom: 20px;
				&[type="text"],&[type="textarea"]{
					width:300px;
				}
				&[type="textarea"]{
					word-wrap: break-word;
					height: 150px;
					vertical-align: baseline;
					display:inline-block;
				}
			}
		}
	}
}