/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header_area {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background: transparent;
  .navbar-brand {
    margin-right: 30px;
  }
  .menu_nav {
    width: 100%;
  }
  .navbar {
    background: transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    width: 100%;
    .nav {
      .nav-item {
        margin-right: 45px;
        .nav-link {

          font: 500 12px/100px $primary-font;
          text-transform: capitalize;
          color: #000;
          padding: 0px;
          display: inline-block;
          font-size: 16px;
          &:after {
            display: none;
          }
        }
        &:hover,
        &.active {
          .nav-link {
            color: #ffffff;
          }
        }
      }
    }
  }
  &.navbar_fixed {
    .main_menu {
      position: fixed;
      width: 100%;
      top: -70px;
      left: 0;
      right: 0;
      background: $primary-color;
      transform: translateY(70px);
      transition: transform 500ms ease, background 500ms ease;
      -webkit-transition: transform 500ms ease, background 500ms ease;
      box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
      .navbar {
        .nav {
          .nav-item {
            .nav-link {
              line-height: 70px;
            }
          }
        }
      }
    }
  }
  &.white_menu {
    .navbar {
      .navbar-brand {
        @media (min-width: 992px) {
          img {
            display: none;
            & + img {
              display: inline-block;
            }
          }
        }
        @media (max-width: 991px) {
          img {
            display: inline-block;
            & + img {
              display: none;
            }
          }
        }
      }
      .nav {
        .nav-item {
          .nav-link {
            color: #fff;
          }
        }
      }
    }
    &.navbar_fixed {
      .main_menu {
        .navbar {
          .navbar-brand {
            img {
              display: inline-block;
              & + img {
                display: none;
              }
            }
          }
          .nav {
            .nav-item {
              .nav-link {
                line-height: 70px;
                color: $title-color;
              }
            }
          }
        }
      }
    }
  }
}
