/* Start About Area css
============================================================================================ */

.about-area {
    background-color: black;
    .main-title {
        margin-bottom: 30px;
        h1 {
            color: $text-color;
            font-size: 96px;
            padding-bottom: 20px;
            margin-bottom: 30px;
            &:before {
                left: 10%;
                @media (max-width: 1200px) {
                    left: 12%;
                }
                @media (max-width: 991px) {
                    left: 8%;
                }
                @media (max-width: 767px) {
                    left: 10%;
                }
            }
        }
        @media (max-width: 1024px) {
            padding-bottom: 0px;
        }
    }
    .about-left {
        display: flex;
        justify-content: center;
        @media (max-width: 991px) {
            display: none;
        }
    }
    .buttonContainer{
        text-align: center  ;
        .primary-btn {
            margin-top: 40px;
        }
    }
}


.img-fluid{
    max-height: 200px;;
}

/* End About Area css
============================================================================================ */
