/* Projects Area css
============================================================================================ */

.portfolio_title{
  background-color: $portfolio-background;
  .main-title{
    padding: 40px 0;
    margin: 0 ;
  }
  .main-title h1{
    color: rgb(216, 216, 216);
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .underline{
    border-bottom: 1px solid rgb(211, 211, 211);
    margin-bottom: 15px;
  }
}
.portfolio_project{
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 50px 0;
  &:nth-child(odd){
    background-color: $portfolio-background;
  }
  &:nth-child(even){
    background-color: $portfolio-background-two;
  }
  .quote{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 25px;
  }
}

.portfolio_image, .portfolio_image_small{
  margin-bottom: 2%;
}
.portfolio_image{
  max-width: 100%;
}

.portfolio_image_small{
  max-width: 49%;
}
.portfolio_image_small:nth-child(1){
  margin-right: 2%;
}

.projects_text {
  width: 100%;
  bottom: 0px;
  margin-left: 35px;
  margin-right: 20px;
  h3 {
    font-size: 34px;
    color: #fff;
    margin-bottom: 5px;
    cursor: pointer;
    @media(max-width:1200px){
      font-size: 30px;
    }
  }
  p {
    margin: 15px 0;
    text-align: left;
    font-size: 15px;
    color: #fff;
  }
  .project_icons{
    margin:auto;
    display: flex;
    justify-content: center;
    .portfolioIcon, .iconImage{
      max-height: 32px;
    }
    .portfolioIcon{
      margin: 5px;
      position: relative;
      bottom: 0em;
      background-color: rgba(255, 255, 255, 0.495);
      border-radius: 16px;
      .iconImage-text{
        padding-right: 10px;
        color: white
      }
      .iconImage{
        object-fit: cover;
        border-radius: 50%;
        padding:2px;
      }
    }
  
  }


}


.projects_fillter {
  background: $primary-color2;
  .filter {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    padding: 13px ;
    &:after {
      position: absolute;
      left: 2%;
      bottom: -10px;
      height: 100%;
      width: 96%;
      content: "";
      background: #ffe6db;
      z-index: -1;
    }
    li {
      display: inline-block;
      margin-right: 30px;
      font-size: 12px;
      color: $text-color;
      text-transform: uppercase;
      cursor: pointer;
      &:last-child {
        margin-right: 0px;
      }
      &.active,
      &:hover {
        color: $primary-color;
      }
      @media (max-width: 700px) {
        width: 100%;
        margin: 5px 3px;
        &.active,
        &:hover {
          background-color: $primary-color;
          color: $text-color;
        }
      }
    }
  }
}

/* End Projects Area css
============================================================================================ */

/* Portfolio Details Area css
============================================================================================ */

.portfolio_details_area {
}

.portfolio_details_inner {
  .row {
    margin-bottom: 65px;
    @media (max-width: 480px) {
      margin-bottom: 30px;
    }
  }
  p {
    margin-bottom: 30px;
    font-size: 14px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .portfolio_right_text {
    margin-top: 50px;
    @media (max-width: 991px) {
      margin-top: 0px;
    }
    @media (max-width: 576px) {
      margin-top: 50px;
    }
    h4 {
      color: $title-color;
      font-size: 21px;
      margin: 18px 0;
      font-weight: 700;
    }
    p {
      margin-bottom: 25px;
      font-size: 14px;
    }
    .list {
      li {
        margin-bottom: 7px;
        span {
          font-size: 14px;
          color: #000;
          font-weight: 400;
          width: 97px;
          display: inline-block;
        }
        font-weight: normal;
        font-size: 14px;
        &:last-child {
          margin-bottom: 0px;
        }
        i {
          color: #f1cd09;
        }
      }
    }
  }
}

.social_details {
  margin-top: 50px;
  @media (max-width: 480px) {
    margin-top: 20px;
  }
  li {
    display: inline-block;
    margin-right: 14px;
    a {
      font-size: 14px;
      i {
        color: #000 !important;
        &:hover {
          color: $primary-color !important;
        }
      }
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}

/* End Portfolio Details Area css
============================================================================================ */
