.resume{    

    text-align: center;
    .section_title{
        margin-bottom: 10%;
    }
    .resume-item{
        box-sizing: border-box;
        max-width: 650px;
        margin: auto;
        border-bottom:  brown 1px solid;
        padding: 20px;
        @media(max-width: 1200px){
            max-width: 400px;
        }
        @media(max-width: 830px){
            max-width: 95%;
            min-width: 95%;
            margin-top: 40px;
         }
        &:nth-child(even){
            text-align: left;
            border: brown 1px solid;
            border-right: dotted brown 1px;
            border-top: none;
            padding-right: 75px;
            @media(max-width: 830px){
                 transform: none;
                 padding-left: 25px;
                 padding-right: 25px;
                 border: brown 1px solid;
             }
            &::after{
                content: " ";
                position: absolute;
                width: 20px;
                height: 20px;
                background: brown;
                border-radius: 50%;
                right: -10px;
                transform: translateY(50%);
                @media(max-width: 830px){
                    display: none;
                 }
            }
        }
        &:nth-child(odd){
            text-align: right;
            border: brown 1px solid;
            border-left: dotted brown 1px;
            border-top: none;
            transform: translateX(50%);
            padding-left: 75px;
            
            @media(max-width: 830px){
                transform: none;
                border: brown 1px solid;
                text-align: left;
                padding-left: 25px;
                padding-right: 25px;
            }
            &::after{
                content: " ";
                position: absolute;
                width: 20px;
                height: 20px;
                background: brown;
                border-radius: 50%;
                left: -10px;
                transform: translateY(50%);
                @media(max-width: 830px){
                    display: none;
                 }
            }
        }
    }
}
.animateRight, .animateLeft{
    transition-delay: .5s;
}
.animateRight{
    animation: slideRight 1s ease-in-out;
    transform: translateX(-50%);
}
.animateLeft{
    animation: slideLeft 1s ease-in-out;
    transform: translateX(-50%);
}
@keyframes slideRight{
    0%{
        transform: translateX(-200%)
    }
    100%{
        transform: translateX(-50%);
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(200%)
    }
    100%{
        transform: translateX(50%);
    }
}
/*=================== fonts ====================*/

@import url('https://fonts.googleapis.com/css?family=Poppins:700,800|Roboto:400,500,500i|Montserrat:800,bold');