/*font Variables*/

$primary-font: 'Roboto',
sans-serif;
$title-font: 'Poppins',
sans-serif;
/*Color Variables*/

$primary-color: #6993d2;
$primary-color2: #571080;
$title-color: #080808;
$text-color: #dbdbdb;
/*=================== fonts ====================*/

@import url('https://fonts.googleapis.com/css?family=Poppins:700|Roboto:400,500,500i');