/*font Variables*/

$primary-font: 'Montserrat',
sans-serif;
$title-font: 'Poppins',
sans-serif;
/*Color Variables*/

$primary-color: #6993d2;
$primary-color2: #3f3146;
$portfolio-background: #241F33;
$title-color: #080808;
$text-color: #CDCDCD;
/*=================== fonts ====================*/

@import url('https://fonts.googleapis.com/css?family=Poppins:700,800|Roboto:400,500,500i|Montserrat:800,bold');